body {
  background-color: #2a2021;
}


/* Display */
.container {
  background-color: #1f1919;
}

.display {
  background-color: #3e2d2f;
}


/* Buttons Grid */
.buttons-grid {
  background-color: #1f1919;
}

.button {
  color: #fdd8d9;
}

.clear {
  background-color: #5d411a;
  color: #ffddb5;
}

.clear:active {
  background-color: #7e694a;
}

.nums {
  background-color: #2a2021;
}

.nums:active {
  background-color: #585051;
}

.operation {
  background-color: #5c3e41;
}

.operation:active {
  background-color: #7f6869;
}


/* Footer */
footer {
  color: #fdd8d9;
}

footer i {
  color: #fdd8d9;
}