@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gilroy-Light', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #2a2021;
  transition: 0.5s;
}

main {
  height: 851px;
  width: 393px;
  margin: 40px auto 30px;
  border-radius: 30px;
}


/* Display */
.container {
  height: 35%;
  background-color: #1f1919;
  border-radius: 30px 30px 0 0;
}

.display {
  background-color: #3e2d2f;
  height: 100%;
  border-radius: 30px;
}


/* Buttons Grid */
.buttons-grid {
  background-color: #1f1919;
  height: 65%;
  border-radius: 0 0 30px 30px;
}


/* Footer */
footer {
  font-family: 'Gilroy-Regular', sans-serif;
  color: #fdd8d9;
  margin: auto;
}

footer i {
  color: #fdd8d9;
}