body {
  background-color: #f9f1f5;
}


/* Display */
.container {
  background-color: #fffbff;
}

.display {
  background-color: #f0e2e6;
}


/* Buttons Grid */
.buttons-grid {
  background-color: #fffbff;
}

.button {
  color: #2b1315;
}

.clear {
  background-color: #ffddb5;
}

.clear:active {
  background-color: #c8ae8f;
}

.nums {
  background-color: #f9f1f5;
}

.nums:active {
  background-color: #c4bec2;
}

.operation {
  background-color: #ffdadb;
}

.operation:active {
  background-color: #caadac;
}


/* Footer */
footer {
  color: #2b1315;
}

footer i {
  color: #2b1315;
}