@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gilroy-Regular', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f9f1f5;
  transition: 0.3s;
}

main {
  height: 851px;
  width: 393px;
  margin: 40px auto 30px;
  border-radius: 30px;
}


/* Display */
.container {
  height: 35%;
  background-color: #fffbff;
  border-radius: 30px 30px 0 0;
}

.display {
  background-color: #f0e2e6;
  height: 100%;
  border-radius: 30px;
}


/* Buttons Grid */
.buttons-grid {
  background-color: #fffbff;
  height: 65%;
  border-radius: 0 0 30px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.button {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 36px;
  color: #2b1315;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .15s;
}

.button:active {
  border-radius: 25%;
  transition: .15s;
}

.clear {
  background-color: #ffddb5;
  width: 180px;
  border-radius: 90px;
}

.clear:active {
  background-color: #c8ae8f;
  border-radius: 25px;
}

#ac {
  grid-column: 1 / 3;
}

#delete {
  grid-column: 3 / 5;
}

.nums {
  background-color: #f9f1f5;
}

.nums:active {
  background-color: #c4bec2;
}

.operation {
  font-family: 'Gilroy-Regular', sans-serif;
  background-color: #ffdadb;
  font-size: 60px;
}

.operation:active {
  background-color: #caadac;
}

/* Footer */
footer {
  font-family: 'Gilroy-Regular', sans-serif;
  color: #2b1315;
  margin: auto;
}

footer i {
  color: #2b1315;
  transition: 0.2s;
}

footer i:hover {
  transform: rotate(360deg);
  transition: 0.2s;
}